
/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    color: #ffffff;
}

/* En-tête */
header {
    background-color: #F72585;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

#search-bar {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin-top: 10px;
    border
